<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand brand">foodywind</a>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item"  [class.active]="currentUrl === '/home'">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [class.active]="currentUrl === '/random-recipe'">
        <a class="nav-link" routerLink="random-recipe">Random Recipe</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="extractRcipeVideo()">Video</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0 search-box" #searchForm="ngForm" (ngSubmit)="submitSearchKeyword()">
      <!-- <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle btn-color" data-toggle="dropdown">
          {{searchType}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="searchType = 'Food Name';suggestion ='Suggestion: puloa'; keyword = '' ">Search By Food Name</a>
          <a class="dropdown-item" (click)="searchType = 'Ingredients';suggestion ='Suggestion: onion,garlic'; keyword = ''">Search By Ingredients</a>
        </div>
      </div> -->
      <input class="form-control mr-sm-2" type="search" [(ngModel)]="keyword" name="keywords" required [placeholder]="suggestion"
        aria-label="Search" autocomplete="off">
      <button class="btn btn-outline-light search-btn my-2 my-sm-0" type="submit" [disabled]="!searchForm.valid">Search</button>
      <!-- auto suggestion dropdown -->
      <!-- <ul class="ps autosuggestion" *ngIf="autoSuggestionObj.length>0 && keyword !='' && opensuggestionBox && searchType === 'Food Name'"  [perfectScrollbar]="config">
        <li *ngFor="let list of autoSuggestionObj" class="list" (click)="readMorePageNavigate(list.id)">{{list.title}}</li>
      </ul> -->
      <!-- <ul class="ps autosuggestion" *ngIf="autoSuggestionObj.length>0 && keyword !='' && suggestionBoxForIngredients && searchType === 'Ingredients'"  [perfectScrollbar]="config">
        <li *ngFor="let list of autoSuggestionObj" class="list" (click)="selectIngredeints(list.name)">{{list.name}}</li>
      </ul> -->
    </form>
  </div>
</nav>