
.brand{
    font-family: 'Segoe Script';
}
.search-box{
    width: 60%;
    position: relative;
    display: block;
    @media(max-width:1350px){
        width: 66%;
    }
    @media(max-width:980px){
        display: none;
    }
    .search-box-input{
        width: 86%;
        margin-left: 3%;
        @media(max-width:1200px){
            width: 80%;
        }
        @media(max-width:980px){
            margin-left: 0px;
        }
    }
    .search-btn{
        @media(max-width:576px){
            margin-bottom: 0!important;
            margin-top: 0!important;
        }
    }

}
.search-box-mobile-view{
    display: none;
    width: 93%;
    text-align: center;
    input{
        width: 90%;
        display: inline-block;
    }
    @media(max-width:980px){
        display: inline-block;
    }
}
.nav-link{
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.search-icon-wrapper{
    display: none;
    @media(max-width:980px){
        display: inline-block;
    }
    #search-icon{
        fill: rgba(255,255,255,.5);
    }
}
   

.back-icon{
    #backBtn{
        fill: rgba(255,255,255,.5);
    }
}
