<side-nav-filter *ngIf="recipeList.length>0"></side-nav-filter>
<div class="food-with-nutrition-wrapper">
    <h2>Recipe List With Nutrition</h2>
    <!-- Side nav filters -->
    <div class="all-recipe-list-below" *ngIf="recipeList.length>0">
        <div *ngFor="let list of recipeList; let i = index" class="each-recipe-wrapper">
            <div class="title" data-toggle="tooltip" data-placement="top" [title]="list.recipe.label">{{list.recipe.label | limitTo : 25}}</div>
            <div class="summary-container">
                <div class="summary"> This recipe serves {{list.recipe.yield}} and One serving contains     <b>{{(list.recipe.calories/list.recipe.yield)|number}} calories</b>,
                    <b>{{(list.recipe.digest[0].total/list.recipe.yield) | number}}
                    {{list.recipe.digest[0].unit}} of {{list.recipe.digest[0].label}}</b>, 
                    <b>{{(list.recipe.digest[1].total/list.recipe.yield)| number}}
                     {{list.recipe.digest[1].unit}} of {{list.recipe.digest[1].label}}
                    </b>...
                </div>
                    <a class="read-more" (click)="readMorePageNavigate(list.id)">Read More</a>
            </div>
            <div class="image" *ngIf="list.recipe.image"><img [src]="list.recipe.image"></div>
            <div class="no-image" *ngIf="!list.recipe.image">Image Not Available</div>
            <button type="button" class="btn btn-primary get-full-recipe-btn" (click)="redirectToNutritionInfo(list)">Get Full Nutrition Info</button>
        </div>
    </div>
    <div class="d-flex justify-content-center spinner-container" *ngIf="recipeList.length<=0 && totalResults != 0">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="totalResults == 0" class="total-result-container">
        Please try something else!! We don't have info about this food
    </div>
</div>