.contact-us-wrapper{
    margin: 50px auto;
    background: #f7f7f7;
    .contact-body{
        
        padding: 40px;
        display: block;
        text-align: center;
        .header{
            font-weight: 700!important;
            font-size: 25px;
            margin-bottom: 30px;
        }
        .input-box{
            width: 100%;
            display: block;
            background: #fff;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            border-radius: 3px;
            padding: 15px;
        }
    }
}
.thank-you-wrapper{
    padding: 30px;
    .thank-you-note{
        font-size: 20px;
    }
    .desc{
        margin: 10px 0;
        font-size: 15px;
    }
    .great-day{
        font-size: 15px;
    }
}