.footer-container{
    padding: 10px 70px;
    background: #3da4ab;
    text-align: center;
    .copywrite, .contact-us, .privacy-policy{
        color: white;
    }
    .copywrite{
        float: left;      
    }
    .contact-us{
        float: right;
    }
    .privacy-policy{
        display: inline-block;
        cursor: pointer;
    }
    @media(max-width:768px){
        padding: 15px 50px;
        .contact-us{
            float: none;
        }
        .copywrite{
            float: none;
        }
    }
}