<div class="random-recipe-container container">
  <div class="item-wrapper">
    <ng-container>
      <div class="title">{{title}}</div>
      <div class="summary-container">
        <div class="summary" [innerHTML]="summary"></div>
      </div>
      <div class="img-container"><img class="d-block w-100" [src]="url" alt="First slide"></div>
      <div class="ingredients">
        <div class="header">Ingredients</div>
        <ng-container *ngIf="extendedIngredients.length>0">
          <div class="item" *ngFor="let each of extendedIngredients; let j = index">
            <span class="index">{{j+1}}.</span>
            <span class="ingredients-list">{{each.originalString}}</span>
          </div>
        </ng-container>
        <div class="instruction">
          <div class="header">Directions</div>
          <ng-container *ngIf="analysedArray.length>0 ">
            <div class="item" *ngFor="let each of analysedArray">
              <span class="index">Step {{each.number}}:</span>
              <span class="ingredients-list">{{each.step}}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="know-more"><a [href]="sourceUrl" target="_blank">Know More About This Food</a></div>
    </ng-container>
    <div class="d-flex justify-content-center" *ngIf="extendedIngredients<=0 || analysedArray<=0">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>