<div class="recipe-info-container container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" *ngIf="foodArray.length>0">
      <div class="carousel-item item-wrapper" [class.active]="id == list.id" *ngFor="let list of foodArray; let i = index">
        <div class="title">{{list.title}}</div>
        <iframe width="100%" height="90%" [src]='list.sourceUrl | safeUrl' id="i_frame">
        </iframe>
        <div><a class="next" (click)="nextItem()">Next &raquo;</a></div>
      </div>
    </div>
  </div>
</div>